!!! 5
html(lang='en')
  include ../includes/head
  if (req.isAuthenticated())
  body.login-screen
      include ../includes/header
      .container
        .row-fluid
          block main
          block content
      include ../includes/footer
      include ../includes/foot
